In [1]:
# pip install funda-scraper
import os

os.chdir("/Users/willchien/PycharmProjects/funda-scraper")

## Instanitate a FundaScraper object

In [2]:
from funda_scraper import FundaScraper

scraper = FundaScraper(area="amsterdam", want_to="rent", find_past=False, n_pages=1)
scraper

FundaScraper(area=amsterdam, to_buy=False, n_pages=1, use_past_data=False)

In [3]:
df = scraper.run()
df.head()

2022-09-17 11:42:12,075 - INFO - *** Phase 1: Fetch all the available links from all pages ***  (scrape.py:107)
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:01<00:00,  1.67it/s]
2022-09-17 11:42:13,291 - INFO - *** Got all the urls. 15 houses found in 1 pages. *** (scrape.py:118)
2022-09-17 11:42:13,292 - INFO - *** Phase 2: Start scraping results from individual links *** (scrape.py:183)

  0%|          | 0/15 [00:00<?, ?it/s]

2022-09-17 11:42:16,745 - INFO - *** All scraping done: 15 results *** (scrape.py:195)
2022-09-17 11:42:16,746 - INFO - *** Cleaning data *** (scrape.py:229)

,house_id,city,house_type,building_type,price,price_m2,room,bedroom,bathroom,living_area,...,has_balcony,has_garden,zip,address,year_built,house_age,date_list,ym_list,year_list,descrip
0,42957237,amsterdam,appartement,Resale property,3250,21.7,7,3,2,150,...,0,0,1078,Diezestraat 32 II,1906,117,2022-09-14 00:00:00.000000,2022-09-01,2022,\r\nBeautifully renovated double upper house...
1,88290840,amsterdam,appartement,Resale property,6500,39.2,4,3,2,166,...,0,0,1075,Valeriusplein 14 G,1912,111,2022-09-03 11:42:16.750873,2022-09-01,2022,"\r\nValeriusplein 14 G, 1075 BH Amsterdam ..."
2,42957628,amsterdam,appartement,Resale property,4250,34.0,5,4,1,125,...,0,0,1076,Van Tuyll van Serooskerkenweg 110 3,0,2023,2022-09-14 00:00:00.000000,2022-09-01,2022,\r\nVan Tuyll van Serooskerkenweg/Zuid (appr...
3,42817318,amsterdam,appartement,Resale property,7950,39.8,6,4,2,200,...,0,0,1017,Nicolaas Witsenkade 19,1897,126,2022-08-13 11:42:16.750886,2022-08-01,2022,\r\nNicolaas Witsenstraat/Amsterdam (approx. ...
4,42951777,amsterdam,appartement,Resale property,2400,22.9,3,2,1,105,...,0,0,1072,Marie Heinekenplein 102,1995,28,2022-09-16 11:42:16.750888,2022-09-01,2022,"\r\nVERY LUXURY, 3-ROOM APARTMENT OF 105 M2..."

In [5]:
scraper.save_csv(df)

2022-09-17 11:42:26,032 - INFO - *** File saved: ./data/houseprice_20220917_amsterdam_renting_15.csv. *** (scrape.py:217)

In [6]:
scraper.links

['https://www.funda.nl/en/huur/amsterdam/appartement-88298959-groenhoedenveem-17-pp/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42957237-diezestraat-32-ii/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-88290840-valeriusplein-14-g/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42957628-van-tuyll-van-serooskerkenweg-110-3/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42746406-oostenburgervoorstraat-63-k/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42817318-nicolaas-witsenkade-19/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42951777-marie-heinekenplein-102/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-88283886-herengracht-132-c/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42848058-gerrit-van-der-veenstraat-125-huis/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42844632-vrolikstraat-290-2/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42823574-valkenburgerstraat-132-d/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42959699-brouwersgracht-655/',
 'https://www.funda.nl/en/huur/amsterdam/appartement-42845278-anton-verheijstraat-9-iii/',
 'https://www.funda.nl/en/huur/amsterdam/huis-88311777-valeriusplein-13/',
 'https://www.funda.nl/en/huur/amsterdam/huis-42959401-scheepsbouwweg-139/']

In [8]:
scraper.clean_df.head(1)

,house_id,city,house_type,building_type,price,price_m2,room,bedroom,bathroom,living_area,...,has_balcony,has_garden,zip,address,year_built,house_age,date_list,ym_list,year_list,descrip
0,42957237,amsterdam,appartement,Resale property,3250,21.7,7,3,2,150,...,0,0,1078,Diezestraat 32 II,1906,117,2022-09-14,2022-09-01,2022,\r\nBeautifully renovated double upper house...

In [7]:
scraper.raw_df.head(1)

,url,price,address,descrip,listed_since,zip_code,size,year,living_area,kind_of_house,...,parking,neighborhood_name,date_list,date_sold,term,price_sold,last_ask_price,last_ask_price_m2,city,log_id
0,https://www.funda.nl/en/huur/amsterdam/apparte...,"€ 2,750 p/mo.",Groenhoedenveem 17 +PP,"\r\nGroenhoedenveem 17, Amsterdam Fantastic ...",na,1019 HM Amsterdam\r,137 m²,2006,137 m²,Upstairs apartment (apartment),...,\nType of parking facilities\n\nParking garage...,na,"\n€ 975,000 kosten koper\n","€ 7,117\r\n \nThe asking price per m² (€ 97...","€ 2,750 per month (service charges unknown)\r\...",na,"€ 975,000 kosten koper","€ 7,117",amsterdam,202209-1711-4216